@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*#region General*/

html{

    scroll-behavior: smooth;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to bottom right, rgb(30, 30, 32), rgb(55, 55, 78));
}

li,a, button, h2{
    font-family: "Monstserrat", sans-serif;
    font-weight: 500;
    font-size: 16x;
    color: #c4cbe5;
    text-decoration: none;
}

h1{
    font-family: "Monstserrat", sans-serif;
    font-weight: 500;
    font-size: 16x;
    color:#c4cbe5;
    text-decoration: none;
    margin: 7px;
    padding: 7px;
}

/*#region Scroll*/

    ::-webkit-scrollbar {
        width: 10px;;
    }

    
    ::-webkit-scrollbar-track {
        background-image: linear-gradient(to top left, rgba(29, 29, 32), rgba(47, 47, 58));
    }
    
    ::-webkit-scrollbar-thumb {
        background: rgb(50, 50, 70); 
        border-radius: 10px;
        transition: 0.3s ease-in-out 0s;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

/*#endregion*/

/*#endregion*/

/*#region NavBar*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 10vh;

    /*background-color: rgba(0, 0, 0, 0.5);*/
    background-image: linear-gradient(to right, rgba(46, 46, 53, 0.5), rgba(51, 51, 71, 0.5));

    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;

    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);

}



.logo{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #00AAA9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;    
}

button:hover{

    background-color: rgba(0,136,169,0.8);

}

/*#endregion*/

/*#region Modal*/

/*#region Botoes*/

.modal__btns{

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;

}

.whatsd{
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #252A42;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;   

}

#close__btn{

    width: 30px;
    height: 30px;
    margin: 3px;
    float: right;
    cursor: pointer;

}


.modal__cls{
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 50%;
    float: right;
    cursor: pointer;

}

.modal__clsb{

    height: 40px;
    margin-right: 10px;
    background-color: #252A42;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;   
    

}

.modal__clsb:hover{

    background-color: #41465f;
    

}

.whatsd:hover{

    background-color: #41465f;
    

}

.whats{
    width: 25px;
    height: 25px;
    
}



/*#endregion*/

/*#region Caixa*/   

.modal{
    
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34%;
    width: 30%;
     max-height: 320px;
     min-height: 250px;
     max-width: 530px;
     min-width: 430px;


    border-radius: 2%;
    background-color: #424A75;

    position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
}



.modtf{

    font-family: "Monstserrat", sans-serif;
    font-weight: 500;
    font-size: 16x;
    color:#c4cbe5;
    text-decoration: none;
    margin: 30px;

}

.modt{

    font-family: "Monstserrat", sans-serif;
    font-weight: 500;
    font-size: 16x;
    color:#c4cbe5;
    text-decoration: none;
    margin-left: 30px;
    padding: 7px;
    font-size: large;


}


/*#endregion*/

/*#region Contatos*/

#gmail_mod{
    cursor: pointer;
}

#link__mod{

    vertical-align: middle;
    position: inherit;
    height: 27px;
    /*width: 89px;*/
    margin-left: 37px;
}

#link_txt{
    
    margin: 0px;
    padding: 7px;
    font-size: 20px;
    float: left;
    vertical-align: middle;

}


.mod_cont{
    
    display: flex;
    align-items:center;
}

/*#endregion*/

/*#endregion*/

/*#region Body*/

.container{

    position: relative;
    width: 100vw;
    max-width:100%; 

}

.item_proj{

    display: flex;
    flex-direction: column;
    height:fit-content;
    min-height: 100vh;
    padding-top: 10vh;

}

.proj_um{

    height: fit-content;
    max-width: 100%;
    font-size: 10vh;
    margin-top: 3vh;
    margin-left: 3vw;
    padding: 0;

}

/*#region Sobre mim*/

#sobremim{

    display: flex;
    align-items: center;

}

#texto_contum{

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50vw;
    padding-top: 10vh;
    height: 100vh;

}

#pp_div{

    display: flex;
    padding-top: 10vh;
    height: 100vh;
    width: 50vw;
    align-items: center;
    justify-content: center;

}

#perfil_pic{

    width: inherit;
    max-width: 35vw;
    border-radius: 50%;
    align-self: center;


}

#pd_um{

    font-family: "Monstserrat", sans-serif;
    font-weight: 500;
    font-size: 8vh;
    color:#c4cbe5;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    padding-bottom: 2.5vh;
    width: fit-content;
}

#pd_dois{

    line-height: 30px;
    margin-left: 2vw;
    width: 33vw;
    text-align: justify;
    text-align-last: left;
    animation: animate;
    animation-duration: 5s;

}

/*#endregion*/

/*#region Projetos*/


#proj_list{

    width: 100%;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#lista{

    width: 75vw;  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box {
    width:20vw;
    height:15vw;
    margin: 2vw;
    border-radius: 3%;
    background-color: rgb(196, 203, 229, 0.5);
    cursor: pointer;
     filter:grayscale(75%);
     transition: all 0.3s ease 0s;
  }

.box:hover{

    filter: grayscale(0%);

}

/*#endregion*/

/*#region Habilidades*/

#habilidades{

    position: relative;

}
    
.img_hab{

    max-width: 100%;
    max-height: 100%;

}

#hab_desc{

    float: right;
    width: 100%;


}

#hab_disp{

    display: flex;

}

#lis_hab{

    margin-top: 3vh;
    margin-left: 6vw;
    min-width:90vh;
    width: 90vh;
    height: 45vh;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;

}
/*1 20 1 1 20 1 1 20 1 1 20 1*/
.box_hab{

    display: flex;
    justify-content: center;
    margin: 1vh;
     
     height: 20vh;
     width: 20vh;
     border-radius: 23%;
     background-color: aliceblue;

}



/*#endregion*/

/*#endregion*/

/*#region animation*/

@keyframes animate{

    from{opacity: 1;}
    from{opacity: 0;}


}

/*#endregion*/